/* Nothing in this div will display unless user tries to print */
#print {
    display: none;
}

/* Contains everything user sees but cannot print */
#noprint {
    display: block;
}

body {
    background: #e1f4e2;
}

/* Header title of the website */
#mainHeading {
    margin: 0 auto;
    font-size: 65px;
    font-family: 'Delius Swash Caps', cursive;
    font-style: bold;
    text-align: center;
    margin-top: 50px;
    color: #f7f3ea;
    text-shadow: -1px 0 black, 0 1px black, 3px 0 black, 0 -1px black;
    letter-spacing: 1px;
}

/* Container that holds all of the recipes */
#container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Adds border, shadow, etc. to boxes in container */
#container div{
    border: 1px #000000 solid;
    box-shadow: 5px 10px #434943;
    margin: 20px;
    padding: 10px;
    background: #f7f3ea;
    border-radius: 25px;
}

/* Each recipe has flex length of one (all same size) and width is responsive */
.recipe {
    flex: 1;
    width: 70%;
}

/* Sour recipe images float left */
#turkeyPic, #mashedPic {
    float: left;
    padding: 2px;
}

/* Sweet recipe images float right */
#cranberrySauce, #pumpkinPie {
    float: right;
    padding: 2px;
}

/* Recipe title */
.recipeTitle {
    font-family: 'Lora', serif;
    text-align: center;
    font-style: bold;
    letter-spacing: 1px;
}

/* Paragraph elements */
p {
    font-family: 'Lora', serif;
    font-size: 18px;
    text-align: justify;
}

/* Applies to all images */
img {
    transition: all .5s cubic-bezier(0.88, -0.21, 0.03, 1.22);
    border: 1px #000000 double;
    border-radius: 10px;
    margin: 10px;
}

/* Applies to all images upon hover */
img:hover {
    transform: scale(1.2);
}

.sour:hover::after {
    content: 'For the brave ones!';
    font-family: 'Lora', serif;
    color: #731c2b;
    font-size: 27px;
    font-weight: 800;
    letter-spacing: 1px;
    vertical-align: middle;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.sweet:hover::before {
    content: 'For those with a sweet tooth!';
    font-family: 'Lora', serif;
    color: #2f173e;
    font-size: 20px;
    font-weight: 800;
    letter-spacing: 1px;
    text-align: right;
}